<ion-view title="Settings">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Settings</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <div class="list">
            <ion-item  item="item">
                Signed in as: {{username}}
            </ion-item>
            <ion-item class="item-icon-left" item="item">
                <a class="button button-assertive" ng-href="#/auth/logout">Logout</a>                
            </ion-item>
        </div>
    </ion-content>
</ion-view>
